<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    android:versionName="2.0"
    package="com.android.sungrackgbs">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.android.sungrackgbs.CommonValue">
        <activity android:name="com.android.sungrackgbs.MyAndroidActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:label="@string/app_name"
            android:name="com.android.sungrackgbs.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="@string/app_name"
            android:name="com.android.sungrackgbs.MemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:label="@string/app_name"
            android:name="com.android.sungrackgbs.MemberMgrActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="@string/app_name"
            android:name="com.android.sungrackgbs.MemberMgrDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="@string/app_name"
            android:name="com.android.sungrackgbs.MemberAttendActivity" />

        <activity
            android:label="@string/app_name"
            android:name="com.android.sungrackgbs.OptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="@string/app_name"
            android:name="com.android.sungrackgbs.AddService"
            android:screenOrientation="portrait" />

        <receiver
            android:label="@string/app_name"
            android:name="com.android.sungrackgbs.BirthAlarmReceiver"
            android:process=":remote" />

        <receiver
            android:label="@string/app_name"
            android:name="com.android.sungrackgbs.startup"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>